<head>
    <title>Donate Plasma</title>
  </head>
 
{% block content %}
<a href="{% url 'home' %}" class="brand-logo" style="margin-left: 1.5rem;font-size: 25px;color: #1b73e8;font-family: "Balsamiq Sans", cursive;">Donate Plasma</a>
    <h2 style="color:brown;text-align:center;" class="text-center">Reset Password Page</h2>
    <hr>
    <div class="col-md-6 offset-md-3">
        <form method="POST" action="{% url 'password_reset' %}">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    <button type = "button" class="close" data-dismiss = "alert">x</button>
                    <p>Problem ! try again  </p>
                </div>
            {% endif %}
            {{ form.as_p }}
            <input style="color:brown;text-align:center;"  type="submit" value="Password Reset" class="btn btn-secondary">
        </form>
    </div>
{% endblock %}